{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}
<div class="row">
	<div style="width: 50%">
		<canvas id="myChart"></canvas>
	</div>
	<div style="width: 50%">
		<canvas id="sales"></canvas>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
  const myChart = document.getElementById('myChart');
  const sales = document.getElementById('sales');

  new Chart(myChart, {
    type: 'bar',
    data: {
      labels: ['Nouveaux clients', 'Commandes passées'],
      datasets: [{
        label: 'Statistiques du mois',
        data: [{{ users }}, {{ orders }}],
        backgroundColor: [
        'rgba(255, 205, 86)',
        'rgba(75, 192, 192)',
        ],
        borderColor: [
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  new Chart(sales, {
    type: 'bar',
    data: {
      labels: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin'],
      datasets: [{
        label: 'Chiffres d\'affaire €',
        data: [0, 0, 0, 0, 0, {{ sales }}],
        backgroundColor: [
        'rgba(75, 192, 192)',
        ],
        borderColor: [
        'rgb(75, 192, 192)',
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
