{{ dump(field.value) }}
<div class="form-widget">
    <div>
        <img src="/images/photos/{{ field.value }}" alt="image" style="height: 100px; width: auto; object-fit: contain;">
    </div>
</div>
