<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css">

    <style>
        /* Styles CSS pour la facture */
        /* ... */
        table {
            width: 100%;
        }
        td {
            text-align: center;
        }
        #frais_de_port, #total_price {
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: end;
        }
    </style>
</head>
<body>
    <header>
        <h1>Facture</h1>
        <!-- Informations de l'entreprise -->
        <p>Nom de l'entreprise</p>
        <p>Adresse de l'entreprise</p>
        <!-- ... -->
    </header>

    <main>
        <section>
            <h2>Adresse de livraison</h2>
            <!-- Informations du client -->
            <p>{{ name }}</p>
            <p>
                {{ address_rue }}<br>
                {{ address_code_postal }}<br>
                {{ address_city }}<br>
                {{ address_country }}<br>
            </p>
            <!-- ... -->
        </section>

        <section style="width: 100%">
            <h2>Détails de la facture</h2>
            <!-- Tableau des produits/services -->
            <table>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Boucle pour afficher les lignes de produits/services -->
                    {% for orderItem in orderItems %}
                    {# {{ dump(orderItem) }} #}
                    <tr>
                        <td>{{ orderItem.product.name }}</td>
                        <td>{{ orderItem.product.price }} €</td>
                        <td>{{ orderItem.quantity }}</td>
                        <td>{{ orderItem.totalPrice }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Total de la facture -->
            <div id="frais_de_port">
                <p>Frais de port : {{ transporteur }} €</p>
            </div>
            <div id="total_price">
                <p>Total TTC : {{ totalPrice }} €</p>
            </div>
        </section>
    </main>

    {# <footer>
        <!-- Informations supplémentaires -->
        <p>Conditions de paiement</p>
        <p>Coordonnées bancaires</p>
        <!-- ... -->
    </footer> #}
</body>
</html>
